html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font;
  width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include tablet-media {
    width: 608px;
  }
  @include desktop-media {
    width: 1060px;
  }
}

.background-image {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
}
