.five-day-section * {
  margin: 0;
  padding: 0;
}
.five-day-section {
  .container {
    width: 1060px;
    margin: 0 auto;
    padding-top: 36px;
    background-color: rgba(15, 29, 48, 0.8);
    border-radius: 35px;
    font-size: 18px;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__min-max-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;
  }
  &__day {
    color: #afb2b6;
    line-height: 1.2;
  }
  &__date {
    font-size: 25px;
    color: #ffffff;
  }
  &__button {
    margin-bottom: 30px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #7a7e84;
    text-decoration-line: underline;
  }
}

.five-day-section .min-max-container {
  &__name {
    color: #afb2b6;
  }
  &__temperature {
    color: #ff6b08;
    font-size: 25px;
  }
}
