@font-face {
  font-family: 'latoBlack';
  src: url('../fonts/Lato-Black.ttf');
}
@font-face {
  font-family: 'latoBlackItalic';
  src: url('../fonts/Lato-BlackItalic.ttf');
}
@font-face {
  font-family: 'latoBold';
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'latoBoldItalic';
  src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'latoItalic';
  src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'latoLight';
  src: url('../fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'latoLightItalic';
  src: url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
  font-family: 'latoRegular';
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'latoThin';
  src: url('../fonts/Lato-Thin.ttf');
}
@font-face {
  font-family: 'latoThinItalic';
  src: url('../fonts/Lato-ThinItalic.ttf');
}
