$tablet-width: 767px;
$desktop-width: 1279px;

@mixin tablet-media {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-media {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin psevdo($display: inline-block, $content: '') {
  display: $display;
  content: $content;
}

@mixin center-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: space-between;
  } @else if $type== 'ver' {
    align-items: center;
  }
}
