// Fonts
$main-font: 'latoRegular', 'Arial', sans-serif;
$data-font: 'latoLight';
$comment-font: 'latoItalic';
$bold-font: 'latoBold';
// Colors
$main-color: #ffffff;
$data-color: #f7f7f7;
$second-color: #7b7b79;
$dark-color: #000000;
$gray-color: #ffffff4d;
$orange-color: #ff6b08;
$day-color: #afb2b6;
$button-color: #7a7e84;
$input-color: #102136;
$one-day-color: #797e86;
$border-color: #28384a;
$dash-color: #e79b37;
$dash-shadow-color: #132433;
