<section class="one-day-section">
  <img
    id="locationWeather"
    src="http://openweathermap.org/img/wn/10d@2x.png"
    alt=""
  />
  <h2 class="one-day-section__h2" id="locationName">default</h2>
  <div class="one-day-section__wrap">
    <p class="one-day-section__curent-temperature">
      <span id="todayTemperature">-</span>&deg;
    </p>
    <div class="one-day-section__min-max-container">
      <div class="min-max-container__temperature">
        <p>min</p>
        <p class="white"><span id="todayMinTemperature">-</span>&deg;</p>
      </div>
      <div class="min-max-container__temperature">
        <p>max</p>
        <p class="white"><span id="todayMaxTemperature">-</span>&deg;</p>
      </div>
    </div>
  </div>
</section>
