.comments {
  width: 205px;
  position: relative;
  background-color: rgba(16, 33, 54, 0.8);
  padding: 10px;
  border-radius: 20px;
  height: 150px;
  @include tablet-media {
    width: 373px;
  }

  &::after {
    content: '\201D';
    font-family: 'Arial';
    font-size: 90px;
    color: $second-color;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    right: 0px;
    @include tablet-media {
      font-size: 195px;
      top: -30px;
    }
  }

  &__content {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'latoItalic';
    color: $main-color;
    text-align: right;
    animation: anim 9s infinite reverse;
    animation-iteration-count: infinite;

    @include tablet-media {
      font-size: 22px;
    }
  }

  
  &__author {
    font-size: 14px;
    font-family: 'latoItalic';
    color: $main-color;
    text-align: right;
    animation: anim 9s infinite reverse;
    animation-iteration-count: infinite;
  }
}

@keyframes anim {
  0% {
    opacity: 1;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: blur(0);
  }
  90% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(20px);
  }
}
