.comments {
  &__box {
    width: 205px;
    position: relative;
    margin-left: auto;
    padding: 10px;
    border-radius: 20px;
    height: 150px;
    background-image: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-position: 95% 2%;
    background-size: 22px;

    @include tablet-media {
      width: 373px;
      margin-right: 52px;
      padding-top: 30px;
      background-size: 50px;
      background-position: 95% 5%;
    }

    @include desktop-media {
      margin-top: 18px;
      margin-right: 0;
      position: absolute;
      right: 110px;
      bottom: 60px;
    }
  }

  &__content {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'latoItalic';
    color: $main-color;
    text-align: right;
    animation: anim 9s infinite reverse;
    animation-iteration-count: infinite;

    @include tablet-media {
      font-size: 22px;
    }
  }

  &__author {
    font-size: 14px;
    font-family: $comment-font;
    color: $main-color;
    text-align: right;
    animation: anim 9s infinite reverse;
    animation-iteration-count: infinite;

    @include tablet-media {
      font-size: 18px;
    }
  }
}

@keyframes anim {
  0% {
    opacity: 1;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: blur(0);
  }
  90% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(20px);
  }
}
