.data {
  @include center-flex(ver);
  margin-bottom: 25px;
  width: 280px;
  height: 190px;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.6);
  box-shadow: 0 8px 43px 0 rgba(16, 33, 54, 0.6);
  flex-direction: column;

  @include tablet-media {
    width: 490px;
    height: 278px;
    margin: 0 auto 25px;
  }

  @include desktop-media {
    height: 218px;
    width: 600px;
    border-radius: 0;
    border-top-right-radius: 35px;
    position: absolute;
    left: 0;
    margin-right: 270px;
    bottom: 0;
  }

  &__day {
    color: $data-color;
    font-family: $data-font;
    font-size: 45px;
    line-height: 56px;
    margin-top: 32px;

    @include tablet-media {
      font-size: 90px;
      line-height: 108px;
      margin-top: 44px;
    }

    @include desktop-media {
      align-self: start;
      margin-left: 110px;
    }
    &--month {
      @include center-flex(all);
      color: $main-color;
      font-size: 14px;
      line-height: 22px;
      margin-top: 14px;
      margin-bottom: 10px;

      @include tablet-media {
        font-size: 18px;
        margin: 0;
      }
    }
  }

  &__day > sup {
    margin-right: 14px;
  }

  &__wrapper {
    @include desktop-media {
      @include center-flex(hor);
      flex-direction: row;
      margin-left: 40px;
      width: 430px;
    }
  }
  &__sun {
    @include center-flex();
    font-size: 14px;
    line-height: 22px;

    @include tablet-media {
      margin-top: 20px;
      font-size: 18px;
    }
    @include desktop-media {
      margin-top: 0;
    }
  }
}

.data span {
  text-align: center;
  width: 70px;
  display: block;
  color: $main-color;

  @include tablet-media {
    width: 94px;
  }
}

.time {
  position: relative;

  &::before {
    @include psevdo;
    position: absolute;
    background-color: #e7e8eb;
    opacity: 0.4;
    width: 1px;
    height: 20px;
    left: 0;
  }
}

.sunrise,
.sunset {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__icon {
    width: 30px;
    height: 30px;
  }
}

.data-comments-block {
  @include desktop-media {
    display: flex;
    justify-content: space-between;
  }
}
