.five-day-section * {
  margin: 0;
  padding: 0;
}
.five-day-section {
  .container {
    width: 280px;
    margin: 0 auto;
    padding-top: 36px;
    background-color: rgba(15, 29, 48, 0.8);
    border-radius: 35px;
    font-size: 18px;

    @include tablet-media {
      width: 608px;
    }
    @include desktop-media {
      width: 1060px;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    @include tablet-media {
      margin-bottom: 32px;
    }
    @include desktop-media {
      margin-bottom: 26px;
    }
  }
  &__item {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__min-max-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;
  }
  &__day {
    color: #afb2b6;
    line-height: 1.2;
  }
  &__date {
    font-size: 25px;
    color: #ffffff;
  }
  &__button {
    margin-bottom: 30px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #7a7e84;
    text-decoration-line: underline;
  }
}

.five-day-section .min-max-container {
  &__name {
    color: #afb2b6;
  }
  &__temperature {
    color: #ff6b08;
    font-size: 25px;
  }
}
.schedule {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  @include tablet-media {
    margin-bottom: 60px;
  }
  @include desktop-media {
    margin-bottom: 66px;
  }

  &__btn {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #ff6b08;
    text-align: center;
    text-decoration: underline;
    background-color: initial;
    border: none;
    cursor: pointer;
  }
}

.ellipse {
  margin-left: 10px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}
