.item__hour{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.timeWeather {
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    border-radius: 25px;
    color: hsla(0, 0%, 100%, 0.541);
    width: 118px;
    height: 218px;
    padding: 15px;
  font-size: 16px;
  font-family: Lato;
  text-align: center;
  margin-bottom: 30px;

    &:hover{
     opacity: 0.7;
    }

  @include tablet-media {
    margin-right: 33px;
  }

  &__time {
    color: #fff;
  }

  &__temp-icon {
    pointer-events: none;
    margin: 0 auto;
    width: 42px;
    height: 22px;
  }

  &__temperature{
    display: inline-block;
    font-size: 18px;
    font-family: Lato;
    color: #ff6b08;
    font-weight: 700;
    pointer-events: none;
  }

  &__data{
    width: 88px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
  }

  &__pressure{
    list-style-type: none;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

  &__humidity{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

  &__wind{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }
}

.data__image{
    width: 25px;
    height: 22px;
}


