<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
  </head>
  <body class="weather">
    <main>
      <section>${require("./template/input.html")}</section>
      <section>${require("./template/todayTemperature.html")}</section>
      <section>${require("./template/fiveDayTemplate.html")}</section>
      <section>${require("./template/coments.html")}</section>
      <div class="data"></div>
    </main>
    <script src="./index.js"></script>
  </body>
</html>
