<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
  </head>
  <body class="weather">
    <main>
      <div class="container">
        ${require("./html/input.html")}
        ${require("./html/todayTemperature.html")}
        ${require("./html/fiveDayTemplate.html")}
        ${require("./html/coments.html")}

        <div class="data"></div>
      </div>
    </main>
  </body>
</html>
