<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
  </head>
  <body>
    <main class="main-section">
      <div class="preload-container" id="preload-img">
        <div class="preloader">
        <div class="dash uno"></div>
        <div class="dash dos"></div>
        <div class="dash tres"></div>
        <div class="dash cuatro"></div>
      </div>
      </div>
      <div class="background-image">
        <div class="container">                             
           ${require("./html/input.html")}
          ${require("./html/todayTemperature.html")}
          ${require("./html/fiveDayTemplate.html")}
          ${require('./html/data-block.html')} ${require("./html/coments.html")}
        </div>
      
      </div>
    </main>
  </body>
</html>
