<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
  </head>
  <body>
    <main id="main-id" class="main-section-none">
      <div id="preload-img" class="preload-container none">
        <div class="preloader">
          <div class="dash uno"></div>
          <div class="dash dos"></div>
          <div class="dash tres"></div>
          <div class="dash cuatro"></div>
        </div>
      </div>
      <div class="background-image">
        <div class="container">
          ${require("./html/input.html")}
          ${require("./html/todayTemperature.html")}
          <div class="data-comments-block">
            ${require('./html/data-block.html')}
            ${require("./html/coments.html")}
          </div>

          ${require("./html/fiveDayTemplate.html")}
        </div>
      </div>
    </main>
  </body>
</html>
